.imgcontainer{
    width: 225px;
}

.Footer{
    width: 100%;
    height: auto;
    background: url(../../src/assets/sauna03.png);
    background-size: cover;
    background-position: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px 25px;
}


.listcontainer p{
color: rgb(255, 255, 255);
padding: 10px 0px;
}

.nav1{
    display: flex;
    gap: 15px;
}

.nav1 li{
    padding: 10px 0px;
    list-style: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

