
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  max-width: 1000px;
 margin:  0 auto;
 gap: 40px;
}

/* isReversedがtrueの時に左右反転させる */
.reverse {
  flex-direction: row-reverse;
}

.imageArea, .textArea {
  flex: 1; /* 半分ずつに分ける */
}

.imageArea img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* テキスト側の調整 */
.textArea {
  width: 50%;
  display: flex;
  flex-direction: column; /* 縦に並べる */
  justify-content: center; /* 縦方向中央 */
  align-items: flex-start; /* 左寄せ */
  gap: 20px; /* タイトル・文章・リンクの間隔 */
}

.title {
  font-family: serif;
  font-size: 1.8rem;
  margin: 0;
}

.description {
  line-height: 1.8;
  margin: 0;
}

.link {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: inherit;
}
