.Roomtext p{
    color: white;
    position: relative;
    text-align: right;
    padding-right: 28%;
    font-size: 24px;
}


.Room{
    max-width: 100%;
    width: 100%;
    background-color: black;
    height: auto;
}



.Roomtext p::after{
    content: ""; /* 擬似要素は必須 */
    position: absolute;
    left: 65%;
    bottom: -5px;
    width: 300px; /* 下線の横幅 */
    height: 2px; /* 下線の太さ */
    background-color: rgb(255, 253, 253); /* 下線の色 */
    display: block;
    padding: 0px 25px;
}

.restauranttext p {
    color: rgb(250, 250, 250);
}

.restauranttext{
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding: 90px ;
}

.restauranttext h1{
    font-family: 'Yumincho';
    color: white;
}