.Roomtext p{
    color: white;
    position: relative;
    text-align: right;
    padding-right: 80px;
    font-size: 24px;
    
}


.Room{
    max-width: 100%;
    width: 100%;
    background-color: black;
    height: auto;
}



.Roomtext p::after{
    content: ""; /* 擬似要素は必須 */
    position: absolute;
    left: 86%;
    bottom: -5px;
    width: 130px; /* 下線の横幅 */
    height: 2px; /* 下線の太さ */
    background-color: rgb(255, 253, 253); /* 下線の色 */
    display: block;
}
