.header {
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 0 40px;
box-sizing: border-box;
z-index: 99999;
background-color: rgba(255, 255, 255, 0.1);
/* 背景ぼかし */
backdrop-filter: blur(3px);
}

.Logo img{
    width: 200px;
    height: auto;
   
}

.nav ul{
display: flex;
font-weight: bold;
color: white;
gap: 40px;
list-style: none;
}


.nav li a{
    text-decoration: none;
    color: rgb(241, 241, 243);
    font-weight: bold;
    
}