.horizontal {
    width: 100%;
    height: 100vh;
    overflow: hidden; /* 縦スクロール抑制 */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: calc(100vw * 6); /* パネル数に合わせる */
    flex-wrap: nowrap;
    height: 100vh;
    will-change: transform;
}

.panel {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
