.Reservearea{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../../src/assets/sauna05.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
    padding: 100px;
}

.Reservearea h1{
color: white;
font-family: 'YuminCho';
}